[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-graphos = "==0.3.41"
djangorestframework = "==3.7.7"
django-settings-export = "==1.2.1"
Django = "==2.0.1"
PyMySQL = "==0.8.0"
XlsxWriter = "==1.0.2"
django-user_agents = "==0.3.0"

[dev-packages]

[requires]
python_version = "3.6"
