@import url(https://github.com/theeluwin/NotoSansKR-Hestia/blob/master/stylesheets/NotoSansKR-Hestia.css);

html, body {
	font-family: 'Noto Sans Korean', 'HelveticaNeue-Light', 'AppleSDGothicNeo-Light', 'Nanum Gothic', 'Malgun Gothic';
}

.navbar-inverse .container .navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar li a {
	color: #fff;
}

.navbar-inverse {
    background-color: #207245;
}

a {
    color: #207245;
    text-decoration: none;
}

.navbar-inverse .container .navbar-header .navbar-brand {
	color: #fff;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
}

.pagination {
    display: inline-block;
    border-radius: 5px;
}
.pagination>li>a {
    color: #207245;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 0px;
    border: 0px;
    border-radius: 5px;
}
.pagination>li>a:hover{
    border-radius: 5px;
    color: #207245;
}
.pagination>li>a.active {
    background-color: #207245;
    border-radius: 5px;
    color: white;
}
.pagination>li {
    height: 40px;
    width: 40px;
}
#page_btns {
    padding-left: 50%;
    margin-left: -140px;
}
.clipboard {
    background-color: #dddddd;
    float: right;
    border-radius: 8px;
}
.clipboard:hover, .clipboard:focus {
    background-color: #207245;
}
#detail_copy {
    float: none;
}

.category.btn1 {
    background: #fc4b4b;
}
.category.btn2 {
    background: #fcbe4b;
}
.category.btn3 {
    background: #ffdc44;
}
.category.btn4 {
    background: #5cbc4f;
}
.category.btn5 {
    background: #5893ce;
}
.category.btn6 {
    background: #b674c1;
}
.category.btn7 {
    background: #87dde5;
}
.category.btn8 {
    background: #f9c0e8;
}
.category {
    width: 15px;
    height: 15px;
    position: relative;
    float: left;
    border-radius: 7.5px;
    border-width: 0px;
    margin:2px;
}
.add-tag-icon {
    width: 14px;
    position: relative;
    left: 30px;
    margin-right:-10px;
}
.tag-box {
    display:block;
    overflow:auto;
    cursor: pointer;
}
#select-tag-box {
    display: block;
    overflow: auto;
    width: fit-content;
    position: absolute;
}
#select-tag {
    background: #6d6d6d;
    display:block;
    overflow:auto;
    padding: 4px;
    width: fit-content;
    border-radius: 15px;
}
.triangle {
    width:0;
    height:0;
    position: relative;
    right: 10px;
    margin-left: 50%;
    border-bottom:8px solid #6d6d6d;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}
.select-category {
    width: 15px;
    height: 15px;
    position: relative;
    float: left;
    border-radius: 7.5px;
    border-width: 0px;
    margin:2px;
}
.select-category.btn1 {
    background: gray;
    border: #fc4b4b 2px solid;
}
.select-category.btn1.selected{
    background: #fc4b4b;
}
.select-category.btn2 {
    background: gray;
    border: #fcbe4b 2px solid;
}
.select-category.btn2.selected{
    background: #fcbe4b;
}
.select-category.btn3 {
    background: gray;
    border: #ffdc44 2px solid;
}
.select-category.btn3.selected{
    background: #ffdc44;
}
.select-category.btn4 {
    background: gray;
    border: #5cbc4f 2px solid;
}
.select-category.btn4.selected{
    background: #5cbc4f;
}
.select-category.btn5 {
    background: gray;
    border: #5893ce 2px solid;
}
.select-category.btn5.selected{
    background: #5893ce;
}
.select-category.btn6 {
    background: gray;
    border: #b674c1 2px solid;
}
.select-category.btn6.selected{
    background: #b674c1;
}
.select-category.btn7 {
    background: gray;
    border: #87dde5 2px solid;
}
.select-category.btn7.selected{
    background: #87dde5;
}
.select-category.btn8 {
    background: gray;
    border: #f9c0e8 2px solid;
}
.select-category.btn8.selected{
    background: #f9c0e8;
}
